@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/mapping';
@import '~@nebular/theme/styles/global/breakpoints';

$nb-themes: nb-register-theme((
  settings-col-width: 16rem,
  header-fg: black,
  color-fg-heading-light: #8994a3,
  header-menu-fg-active: color-fg-highlight,
  color-fg-highlight: color-primary-default,
), default, default);
