<div class="navigation-container">
  <div class="header-container">
    <div class="logo-container">
      <a
       href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <a class="logo" href="#"><span>Viato</span></a>
    </div>
  </div>

  <div class="header-container">
    <nb-actions size="small">

      <nb-action class="control-item">
        <nb-search type="rotate-layout"></nb-search>
      </nb-action>
      <nb-action class="control-item" icon="email-outline"></nb-action>
      <nb-action class="control-item" icon="bell-outline"></nb-action>
      <nb-action class="user-action">
        <nb-user name="Babken" [nbContextMenu]="userMenu">
        </nb-user>
      </nb-action>
    </nb-actions>
  </div>

</div>
