<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" class="sidebar-toggle">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>
    <a class="logo" (click)="onHomeClicked()" routerLink="/">Viato</a>
  </div>
</div>
<div class="header-container">
  <nb-menu class="nav-menu" tag="navMenu" [items]="navMenuItems"></nb-menu>
  <nb-actions size="small" *ngIf="authService.onAuthenticationChange() | async">
    <nb-action class="user-action">
      <nb-user
        [name]="user.email"
        [nbContextMenu]="userMenuItems"
        nbContextMenuTag="userMenu"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
  <div *ngIf="!(authService.onAuthenticationChange() | async)">
    <button size="small" nbButton status="primary" routerLink="/auth">Sign in</button>
  </div>
</div>
