@import "../../../../themes";

@include nb-install-component() {
  $menu-item-fg: nb-theme(color-fg-heading-light);
  $menu-item-fg-active: nb-theme(header-menu-fg-active);

  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)} -5);
  }

  .auth-button {
    margin: 0.5rem;
    @include media-breakpoint-down(is) {
      display: none;
    }
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-menu {
    flex: 1;
    .menu-items {
      display: flex;
      justify-content: flex-end;

      .menu-item {
        border: none;

        a {
          color: $menu-item-fg;
          display: block;

          &:hover,
          &.active,
          &:focus {
            color: $menu-item-fg-active;
            outline: none !important;
          }
        }
      }
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      white-space: nowrap;
      text-decoration: none;

      @include media-breakpoint-down(sm) {
        padding: 0 0.1rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .nav-menu {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  .sidebar-toggle {
    display: none;
    @include nb-ltr(padding-right, 1.25rem);
    @include nb-rtl(padding-left, 1.25rem);
    text-decoration: none;
    color: nb-theme(text-hint-color);
    nb-icon {
      font-size: 1.75rem;
    }

    @include media-breakpoint-down(sm) {
      display: inline;
    }
  }
}
