.contribution-message {
    margin-bottom: 50px;
    color: #57606f;
    font-size: 16px;
}

.contribution-message-red {
    color: #ff3d71;
}

.contribution-message-green {
    color: #00d68f;
}


.contribution-actions {
    button {
        float: right;
        margin: 0 5px;
    }
}